{# Utilisation du squelette de page base.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Nouvelle Publication{% endblock %}

{% block body %}

    {# Grille Bootstrap #}
    <div class="container-fluid">

        {# Titre h1 de la page #}
        <div class="row">
            <h1 class="col-12 text-center my-5">Nouvelle Publication</h1>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam beatae consectetur deleniti dicta ducimus esse eveniet, illum impedit labore laboriosam libero magni mollitia nam obcaecati odio perferendis quae rerum suscipit ullam voluptate. Accusamus aliquam debitis, doloremque hic illum, iste laudantium, nobis porro provident sapiente sequi tempore ullam unde! Distinctio, dolorum.
        </div>


        {# Affichage du formulaire #}
        <div class="row">

            {# Affichage du formulaire de création d'article #}
            <div class="col-12 col-md-8 mx-auto">

                {{ form( newArticleForm ) }}

            </div>

        </div>

    </div>

{% endblock %}

